In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://ellieking@localhost:5432/givedata')

/Users/ellieking/Documents/give-depts-data/give_data/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [6]:
int_meta = pd.read_sql_query('select * from "ar_internal_metadata"',con=engine)

In [7]:
int_meta.head()

,key,value,created_at,updated_at
0,environment,production,2017-02-13 16:16:49.504195,2017-02-13 16:16:49.504195
1,environment,production,2017-02-13 16:16:49.504195,2017-02-13 16:16:49.504195
2,environment,production,2017-02-13 16:16:49.504195,2017-02-13 16:16:49.504195
3,environment,production,2017-02-13 16:16:49.504195,2017-02-13 16:16:49.504195
4,environment,production,2017-02-13 16:16:49.504195,2017-02-13 16:16:49.504195

In [8]:
dates = pd.read_sql_query('select * from "dimensions_dates"',con=engine)
items = pd.read_sql_query('select * from "dimensions_items"',con=engine)
feedex = pd.read_sql_query('select * from "events_feedexes"',con=engine)
ga = pd.read_sql_query('select * from "events_gas"',con=engine)
facts_metrics = pd.read_sql_query('select * from "facts_metrics"',con=engine)
schema = pd.read_sql_query('select * from "schema_migrations"',con=engine)
users = pd.read_sql_query('select * from "users"',con=engine)